{% if postrow.user_trader_rating is defined %}
<dd title="{{ postrow.title }}" class="post_row_feedback_rating">
    <strong>
        Trader Score{L_COLON}
    </strong>
    {% if TRADER_HAS_VIEW_FEEDBACK_PERMISSION %}
        <a href="{{ postrow.U_VIEW_FEEDBACK }}">
            {postrow.user_trader_rating}
            {% if postrow.user_trader_percentage %}
                ({{ postrow.user_trader_percentage }}% Positive)
            {% endif %}
        </a>
    {% else %}
        {postrow.user_trader_rating}
        {% if postrow.user_trader_percentage %}
            ({{ postrow.user_trader_percentage }}% Positive)
        {% endif %}
    {% endif %}
</dd>
{% endif %}