<div class="panel bg3">
    <div class="inner">
        <div class="panel-container">
            <div class="panel">
                <div class="inner">
                    <h3>{L_TRADER_RATING_STATISTICS}</h3>
                    <table id="trader_summary">
                        <tbody>
                        <tr>
                            <td>{L_TRADER_SCORE}{L_COLON}</td>
                            <td><strong>{{ trader_stats.user_trader_rating }}</strong></td>
                        </tr>
                        <tr>
                            <td>{L_POSITIVE_FEEDBACK}{L_COLON}</td>
                            <td>{{ trader_stats.user_trader_percentage }}%</td>
                        </tr>

                        {# <tr>
                            <td>{MEMBRES_WHO_LEFT_POSITIVE}{L_COLON}</td>
                            <td>{{ trader_stats.user_trader_positive }}</td>
                        </tr>
                        <tr>
                            <td>{MEMBRES_WHO_LEFT_NEGATIVE}{L_COLON}</td>
                            <td>{{ trader_stats.user_trader_negative }}</td>
                        </tr> #}
                        <tr>
                            <td>{L_TOTAL_POSITIVE_FEEDBACK}{L_COLON}</td>
                            <td>{{ trader_stats.user_trader_total_positive }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel bg3">
    <div class="inner">
        <div class="panel-container">
            <div class="panel">
                <div class="inner">
                    <h3>{L_RECENT_RATINGS}</h3>
                    <table id="trader_history" cellspacing="0" cellpadding="2">
                        <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td align="center">{L_PAST}<br>{L_MONTH}</td>
                            <td align="center">{L_PAST}<br>{L_6_MONTHS}</td>
                            <td align="center">{L_PAST}<br>{L_12_MONTHS}</td>
                        </tr>
                        <tr>
                            <td class="alt2 trader-padding" colspan="4"></td>
                        </tr>
                        <tr>
                            <td class="trader-sidebar-entry"><strong class="trader_rating positive" title="{L_POSITIVE}">+1</strong></td>
                            {% for val in recent_feedback[1] %}
                            <td class="trader-sidebar-entry">{{ val }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="alt2 trader-sidebar-entry" colspan="4"></td>
                        </tr>
                        <tr>
                            <td class="trader-sidebar-entry"><strong class="trader_rating neutral" title="{L_NEUTRAL}">&nbsp; 0</strong></td>
                            {% for val in recent_feedback[0] %}
                            <td class="trader-sidebar-entry">{{ val }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="alt2 trader-padding" colspan="4"></td>
                        </tr>
                        <tr style="color:#FF0000">
                            <td class="trader-sidebar-entry"><strong class="trader_rating negative" title="{L_NEGATIVE}">&nbsp;-1</strong></td>
                            {% for val in recent_feedback[-1] %}
                            <td class="trader-sidebar-entry">{{ val }}</td>
                            {% endfor %}
                        </tr>
                        </tbody></table>
                </div>
            </div>
        </div>
    </div>
</div>
