<form action="{S_CONFIRM_ACTION}" method="post">
    <h3>{L_REPORT_TITLE}</h3>
    <p>{MESSAGE_TEXT}</p>
    <div>
        <label style="display: inline" for="reason">{L_REASON}{L_COLON}</label>
        <textarea style="vertical-align: top; resize: none;" class="inputbox" name="reason" id="reason" rows="5" maxlength="450" placeholder="{L_EXPLANATION_PLACEHOLDER}" maxlength="1500"></textarea>
    </div>
    <fieldset class="submit-buttons">
        <input type="button" name="confirm" value="{L_SUBMIT}" class="button1" />&nbsp;
        <input type="button" name="cancel" value="{L_CANCEL}" class="button2" />
    </fieldset>
</form>
